@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --scroll-color: #eee;
    --scroll-background-color: #ccc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #111111;
    font-family: "Poppins", sans-serif;
}

html {
    scrollbar-color: var(scrollbarBG) var(--scroll-color);
}

/*! Other Browser */
html::-webkit-scrollbar {
    width: 11px;
}
html {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--scroll-background-color);
}
html::-webkit-scrollbar-track {
    background: var(--scroll-background-color);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 6px;
    border: 3px solid var(--scroll-background-color);
}

.body {
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
}

main {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    overflow-x: hidden;
    border: 0.2rem solid #111111;
}

section {
    display: flex;
    flex-direction: column;
}

.selected {
    color: #8b7f73;
}

.show {
    display: flex;
}

.hidden {
    display: none;
}

.container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    background-color: #d8e3e8;
}

.reverse {
    flex-direction: row-reverse;
}

.container > div,
.container > nav,
.container > span {
    border: 0.2rem solid #111111;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container > nav {
    justify-content: flex-end;
    padding-right: 20px;
}

.container > div > .title {
    position: absolute;
    width: fit-content;
    text-align: center;
    bottom: 1rem;
    font-weight: 600;
}

.space {
    color: transparent;
    background-color: transparent;
    margin-top: 150px;
}

.title.white {
    color: #fff;
}

.title.pointer {
    cursor: pointer;
}

nav span {
    margin-right: 50px;
    cursor: pointer;
}

.container .grow {
    flex-grow: 1;
}

.container .fixed {
    width: 30% !important;
    overflow: hidden;
}

.container .fit {
    width: fit-content !important;
    overflow: hidden;
}

.container .special-carroussel {
    width: 50%;
}

.name {
    background-color: #ded7cf;
    width: 420px;
    height: 89px;
    font-weight: 500;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation > p {
    font-size: 1.2rem;
}

.presentation > p:first-child {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.photo-container {
    height: 635px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-container > img {
    height: 100%;
}

.skills-container {
    background-color: #1a1611;
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills > li {
    color: white;
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.skills > li > span {
    color: white;
}

ul {
    list-style-type: none;
}

.social-media > span {
    flex-grow: 1;
    background-color: #d8e3e8;
    height: 89px;
    font-size: 1.5rem;
}

footer {
    height: 80px;
    font-weight: light;
    color: #3d3d3d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-me {
    flex-direction: row;
    padding: 50px 150px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    width: 50%;
}

.about-me {
    background-color: #f2f6f9;
}

.about-me .title {
    background-color: #e6dace;
}

.about-me .title,
.column {
    font-weight: 400;
    margin: 30px 0px;
    font-size: 30px;
}

.projects {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.projects .title {
    font-weight: 400;
    font-size: 25px;
    margin-top: 30px;
    background-color: #e6dace;
}

.about-me p {
    font-size: 13px;
    margin-bottom: 5px;
}

.about-me img {
    border-radius: 30px 60px;
}

.effect {
    height: 40px;
    width: 30px;
    position: absolute;
    left: 100px;
    top: 190px;
}

.square,
.triangle {
    height: 40px;
    width: auto;
    position: absolute;
    right: 80px;
    top: 600px;
}

.star {
    height: 40px;
    width: auto;
    position: absolute;
    left: 80px;
    top: 400px;
}

.star-two {
    height: 40px;
    width: auto;
    position: absolute;
    right: 80px;
    top: 700px;
}

.linha {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 80px;
    top: 200px;
}

.codepen-container {
    width: 50%;
    margin: 50px 0px;
}

.controlers-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.mySlides {
    display: none;
    width: 50%;
    flex-direction: column;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: auto;
    align-items: center;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 0 3px 3px 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px;
    }
}

.workplace,
.scouts-from-brazil {
    font-style: italic;
    font-weight: 300;
}

.main-activities,
.flixlandia,
.super-trump {
    font-weight: bold;
}

.work-date {
    margin-bottom: 90px;
    margin-left: 90px;
    margin-top: 0;
}

.office,
.workplace {
    margin-bottom: 15px;
}

mark {
    background-color: #d8e3e8;
}

.education-ambassador .container {
    justify-content: space-between;
    padding: 70px 90px;
    background-color: transparent;
}

.recycling .container {
    justify-content: space-between;
    padding: 70px 90px;
    background-color: transparent;
}

.recycling .container > p {
    width: 30%;
}

.voluntary-action .container > p {
    width: 20%;
}

.voluntary-action .container {
    justify-content: space-between;
    padding: 70px 90px;
    background-color: transparent;
}

.recycling .container > article {
    width: 60%;
}

.voluntary-action .container > article {
    width: 50%;
}

.solidarity-spirit,
.scouting {
    flex-direction: row;
    width: 30%;
}

.solidarity-spirit-img,
.recycling-img {
    height: 180px;
    width: 190px;
}

.recycling-img {
    margin-right: 50px;
}

.scouting-img {
    height: 390px;
    width: 530px;
}

.logo-isp {
    height: auto;
    width: 530px;
}

.description {
    font-style: italic;
}

.description-font {
    font-weight: 600;
}
