body {
    background: rgb(160, 46, 189);
    background: linear-gradient(0deg, rgba(160, 46, 189, 1) 0%, #49b6fe 100%);
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #ECF4FF;
    color: #1C1C1C;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.67);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.67);
    padding: 54px
}

.cabecalho {
    display: flex;
    justify-content: space-between
}


.perfil {
    display: flex;
}

.perfil-foto {
    max-height: 160px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.titulo {
    margin-left: 16px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 200;
    font-size: 24px;
}

.tema button {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 400;
    padding: 8px 16px;
    background: #ECF4FF;
    border-radius: 100px;

}

.projetos {
    display: flex;
    flex-direction: column;
    background: linear-gradient(230.65deg, #ade5ff 27.49%, #d4b7f0 83.19%);
    margin-top: 32px;
    padding: 32px;
    box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
    border-radius: 20px;
}

.projetos-titulo {
    list-style: none;
    font-weight: 700;
    font-size: 36px;
}

.projetos-item {
    list-style-type: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
}

.projetos-item a {
    color: #1C1C1C;
    text-decoration: none;
}

.dark {
    background: linear-gradient(236.85deg, #375886 27.26%, #6887A9 96.03%);
}

.dark .container {
    background: #333439;
    color: #F6F6F6;
}

.dark .projetos {
    background: linear-gradient(230.65deg, #383786 27.49%, #5a3597 83.19%);
}

.dark .tema button {
    background: #1C1C1C;
    color: #FFFFFF;
    border: 2px solid #f7f7f7
}